<div class="w-screen h-screen">
  <div class="w-full border-[.1em] border-outline-normal p-4 flex items-center justify-center">
    <div class="w-[min(100%,1000px)]">
      <span class="text-2xl font-bold text-primary">VeriCert</span>
    </div>
  </div>

  <div class="w-full flex items-center justify-center p-4 text-text-bold">
    @if (certificate() && certificate() !== null) {
      <div class="flex flex-col gap-2  justify-center border-[.1em] border-outline-normal rounded-lg p-4">
        <qrcode class="mx-auto" [qrdata]="certificate()!.uuid"></qrcode>
        <app-info [certificate]="certificate()!"/>

        <button class="flex items-center justify-center gap-1 mt-4" (click)="verify()">
          <fa-icon class="text-[1rem]" [icon]="'circle-check'"/>
          <span class="text-[1rem] font-semibold">Verify Certificate</span>
        </button>
      </div>
    }
  </div>
</div>