<main class="w-screen flex items-center justify-center">
  <div class="w-[min(100%,1000px)] flex flex-col items-center justify-center gap-4 p-4 text-text-bold">
    <span class="block w-full text-3xl font-semibold text-text-bold mb-4">Issued Certificated</span>

    <ul class="w-full flex flex-col gap-4">
      @for (certificate of (certificates | async); track certificate.uuid) {
        <li>
          <app-card [certificate]="certificate" [type]="'ISSUER'"/>
        </li>
      } @empty {
        <li class="rounded-lg flex flex-col p-4 border-[.1em] border-outline-normal text-text-mid">
          <span>No certificates has been issued.</span>
        </li>
      }
    </ul>
  </div>
</main>