/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  outline: none;
}

@theme {
  --color-background: #FFFFFF;
  --color-background-dim: #FAFAF9;

  --color-primary: #FF4D00;
  --color-primary-hover: #E64500; 
  --color-primary-green-dark: #388E3C;
  --color-primary-green-accent: #66BB6A;

  --color-error: #DC3545;
  --color-error-hover: #C82333;

  --color-outline-normal: #E6EAF0;
  --color-outline-light: #f0f2f5;

  --color-text-bold: #333333;
  --color-text-mid: #6c757d;
  --color-text-dim: #adb5bd; 
}

@layer base {
  button {
    @apply relative w-full text-[1rem] text-white font-medium px-2 py-1 rounded-md border-[.1em] cursor-pointer 
    bg-primary border-primary hover:bg-primary-hover hover:border-primary-hover
  }
}

@layer utility {
  .low {
    @apply bg-[#00a63d] text-white font-semibold;
  }

  .medium {
    @apply bg-[#e17100] text-white font-semibold;
  }

  .high {
    @apply bg-[#e7000b] text-white font-semibold;
  }

  .open {
    @apply bg-[#155dfc] text-white font-semibold;
  }

  .close {
    @apply bg-[#9810fa] text-white font-semibold;
  }
}

html {
  font-size: .98rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: .9rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: .8rem;
  }
}

@media screen and (max-width: 200px) {
  html {
    font-size: .7rem;
  }
}

.loading {
  color: transparent;
}
.loading::after {
  opacity: 1;
}

button::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: .15em solid #ffffff00;
  border-right-color: #fff;
  border-radius: 50%;
  top: 10%;
  left: 47%;
  opacity: 0;
  animation: rotate .7s linear  infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}