<div class="w-full border-b-[.1em] border-outline-normal dark:bg-neutral-900 dark:border-neutral-700 p-4 flex items-center justify-center">
  <div class="w-[min(100%,1000px)] flex items-center justify-between gap-2">
    <span class="text-2xl font-bold text-primary">VeriCert</span>

    <div class="flex items-center justify-center gap-2">
      <a class="w-[2rem] h-[2rem] flex items-center justify-center rounded-lg cursor-pointer hover:bg-neutral-100 dark:hover:bg-neutral-700">
        <fa-icon class="text-text-dim dark:text-white" [icon]="dark()? 'sun' : 'moon'" (click)="toggleTheme()"/>
      </a>

      @if (user() !== null) {
        <button class="flex items-center gap-1 text-sm w-fit font-medium" (click)="logout()">
          <fa-icon class="text-xs" [icon]="'right-from-bracket'"/>
          <span>Logout</span>
        </button>
      } @else {
        <button class="text-sm w-fit font-medium" (click)="login()">Login</button>
      }
    </div>
  </div>
</div>
